* {
    font-family: sans-serif;
}

h1 {
    font-weight: 900 color #242424;
    font-size: 24px;
}

h2 {
    font-size: 20px color #606060;
    font-weight: 800;
}

p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

li{
    font-size: 18px;
    font-family: monospace;

}



a{
   font-weight: 700;
}

li>a{
    color: orange;
}
ul{
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
    max-width: 40%;
    list-style: none;
    padding: 10px;

}

.green{color: green;
}

body{
background-color: rgb(245,245,245);
}

ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
